<% if @group.joineds.include?(current_user) %>
  <div class="row border p-3">
    <aside class="col-2">
      <%= render 'layouts/link_list' %>
    </aside>
    <div class="col-10 border-left">
      <h4 class="text-center">【参加グループ：<%= @group.name %>】</h4>
        <div class="row border rounded m-3">
          <h5 class="col-sm-12 mt-3">【<%= @group.name %>】の詳細</h5>
          <h6 class="col-sm-12 mt-3"><%= @group.content%></h6>
        </div>
      <ul class="nav nav-pills nav-justified mb-3">
        <li class="nav-item"><a href="<%= group_path(@group) %>" class="nav-link <%= 'active' if current_page?(group_path(@group)) %>">投稿一覧</a></li>
        <li class="nav-item"><a href="<%= joineds_group_path(@group) %>" class="nav-link <%= 'active' if current_page?(joineds_group_path(@group)) %>">参加ユーザ一覧</a></li>
      </ul>
      <div>
        <div class="row m-1">
          <%= form_with(model: @grouppost, local: true) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control', rows: 5, cols: 100 %>
            </div>
            <div class="row offset-11">
              <div>
                <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
              </div>
            </div>
            <% end %>
          <%= render 'group_posts/group_posts', posts: @groupposts %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row border p-3">
    <aside class="col-2">
      <%= render 'layouts/link_list' %>
    </aside>
    <div class="col-10 border-left">
      <h4 class="text-center">【グループ名：<%= @group.name %>】</h4>
      <div class="row border rounded m-3">
        <h5 class="col-sm-12 mt-3">【<%= @group.name %>】の詳細</h5>
        <h6 class="col-sm-12 mt-3"><%= @group.content%></h6>
      </div>
    </div>
  </div>
<% end %>