<div class="row border p-3">
  <aside class="col-sm-2 border">
    <%= render 'layouts/link_list' %>
  </aside>
  <div class="col-sm-10 border">
    <ul class="nav nav-pills nav-justified mb-3">
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Follow一覧</a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Follower一覧</a></li>
    </ul>
    <div>
      <div class="row col-sm-10">
          <%= render 'users', users: @followers %>
      </div>
    </div>
  </div>
</div>