<div class="row border p-3">
  <div class="col-sm-2 border">
    <ul class="list-unstyled mt-3">
      <li class="mt-3"><a href="#">Follow一覧</a></li>
      <li class="mt-3"><a href="#">Follower一覧</a></li>
      <li class="mt-3"><a href="#">お気に入り一覧</a></li>
      <li class="mt-3"><a href="#">参加グループ一覧</a></li>
      <li class="mt-3"><%= link_to 'ユーザ一覧', users_path %></li>
      <li class="mt-3"><a href="#">投稿一覧</a></li>
      <li class="mt-3"><a href="#">グループ一覧</a></li>
      <li class="mt-3"><%= link_to 'ユーザの削除', @user, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></li>
    </ul>
  </div>
  <div class="col-sm-10 border">
    <div class="row p-3">
      <div class="col-sm-4">
        <h4 class="text-left">ユーザ：<%= @user.name %></h4>
      </div>
      <div class="col-sm-3 offset-sm-5">
        <%= link_to 'プロフィール編集', edit_user_path, class: "btn btn-light"%></li>
      </div>
    </div>
    <div class="row border rounded m-3">
      <h5 class="col-sm-12 mt-3"><%= @user.name %>の目標</h5>
      <h6 class="col-sm-12 mt-3"><%= @user.goal%></h6>
      <h5 class="col-sm-12 mt-5"><%= @user.name %>のプロフィール</h5>
      <h6 class="col-sm-12 mt-3 mb-3"><%= @user.status %></h6>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <a href="#">投稿</a>
      </div>
      <div class="col-sm-6 text-center">
        <a href="#">お気に入り</a>
      </div>
    </div>
  </div>
</div>